body{
    background-color: rgb(54, 54, 54);
    background: linear-gradient(to left, #333333,#000000) ;
}
.div1{
    margin: 15px;
    padding: 10px;
    border: px solid rgb(183, 0, 0);
    background-color: rgb(19, 19, 19);
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-style: normal;
    border-radius: 15px;
}
@keyframes borderFlash {
  100% { border-color: rgb(30, 0, 255); }
  100% { border-color: transparent; }
  10% { border-color: rgb(30, 0, 255); }
}
.button2{
    background-color: #333333;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    border-radius: 25px;
    animation: borderFlash 1s infinite;
    font-size: 25px;
   
    align-self: center;
 
} 
.div2{
    margin-top: px;
    height: 310px;
    width: 950px;
    font-style: normal;
    border-radius: 2px;
    background: linear-gradient(to left,#212121,#ff8800) ;
    
    

}
.p1{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-bottom: 400px;
    margin-top: 50px;
}
hr{
    border: 2px solid;
    color: rgb(255, 136, 0);
    margin: 5px 1px;
     

}

